<div class="container py-5">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-5 mx-auto">
                    <!-- form card login -->
                    <div class="card rounded-0 border">
                        <div class="card-header text-center">
                            <h3 class="mb-0">Sign in</h3>
                            <i class="fa fa-user-circle-o fa-5x fa-fw mt-3" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa fa-user-o fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa fa-unlock-alt fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                                </div>
                                <a class="btn btn-primary btn-lg btn-block" href="/#/admin">
                                    <i class="fa fa-sign-in fa-fw"></i> Login</a>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->