<div class="container table-responsive">
    <table class="table table-light table-hover table-sm border-bottom">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Client Name</th>
                <th>Create By</th>
                <th>Creation Date</th>
                <th class="text-center">
                    <i class="fa fa-edit fa-fw pr-4"></i>View</th>
                <th class="text-center">
                    <i class="fa fa-download fa-fw pr-4"></i>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle">
                <!-- <app-client-list-item></app-client-list-item> -->
                <td class="align-middle ">
                    1</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">10-10-1010</td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                            <i class="fa fa-edit fa-fw pr-4"></i>View
                        </button>
                </td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                            <i class="fa fa-download fa-fw pr-4"></i>Download
                        </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container d-block bg-light">
        <nav>
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">2
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>