<div class="container py-5">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded-0 border border-primary">
                        <div class="card-header text-center">
                            <h3 class="mb-0">Sign up</h3>
                            <i class="fa fa-user-circle-o fa-5x fa-fw mt-3" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-o fa-fw"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="First Name" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-o fa-fw"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Last Name" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-home fa-fw"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Address" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-map-marker fa-fw"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="City" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-building-o fa-fw"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Office Name" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-mobile-phone fa-fw"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Mobile Number" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope-o fa-fw"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-key fa-fw"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-key fa-fw"></i></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Confirm Password" aria-describedby="basic-addon1">
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btnLogin">Create Account</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->