<!-- <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2 mr-2">
        <i class="fa fa-bar-chart fa-fw fa-2x mr-2"></i>Dashboard</h1>
</div> -->
<div class="container pb-2 mb-3 border-bottom">
    <h1 class="h1 text-secondary">
        <i class="fa fa-bar-chart fa-fw fa-1x mr-2"></i>Dashboard</h1>
</div>
<div class="container justify-content-center">
    <button type="button" class="btn btn-outline-primary align-bottom float-left" data-toggle="modal" data-target="#modal">
        <i class="fa fa-plus-square-o fa-fw"></i>
        Create New
    </button>
    <h3 class="text-center text-muted">Transation Logs</h3>
</div>
<div class="container justify-content-center my-3 pt-2 pl-3">
    <form class="form-inline justify-content-center py-2">
        <div class="input-group mb-2 pr-2">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <input class="form-check-input" type="checkbox">
                </span>
                <span class="input-group-text bg-light" id="basic-addon1">
                    <i class="fa fa-calendar fa-fw mr-2"></i>From</span>
            </div>
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
        <div class="input-group mb-2 pr-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-light" id="basic-addon1">
                    <i class="fa fa-calendar fa-fw mr-2"></i>To</span>
            </div>
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
        </div>
        <div class="input-group mb-2 pl-3 pr-3">
            <div class="input-group-prepend">
                <span class="input-group-text bg-light" id="basic-addon1">
                    <select id="lunch" class="selectpicker form-control form-control-sm" data-live-search="true" title="Please select a lunch ...">
                        <option>User Name</option>
                        <option>Client Name</option>
                    </select>
                </span>
            </div>
            <input class="form-control" type="text" placeholder="Enter name here">
        </div>
        <button type="submit" class="btn btn-primary mb-2">
            <i class="fa fa-search fa-fw"></i>
            Search
        </button>
    </form>
</div>
<div class="container table-responsive">
    <table class="table table-light table-hover table-sm">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Client Name</th>
                <th>Create By</th>
                <th>Creation Date</th>
                <th class="text-center">
                    <i class="fa fa-edit fa-fw pr-4"></i>View</th>
                <th class="text-center">
                    <i class="fa fa-download fa-fw pr-4"></i>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle">
                <td class="align-middle ">1</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">10-10-1010</td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                        <i class="fa fa-edit fa-fw pr-4"></i>View
                    </button>
                </td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                        <i class="fa fa-download fa-fw pr-4"></i>Download
                    </button>
                </td>
            </tr>

            <tr class="align-middle">
                <td class="align-middle ">2</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">10-10-1010</td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                        <i class="fa fa-edit fa-fw pr-4"></i>View
                    </button>
                </td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                        <i class="fa fa-download fa-fw pr-4"></i>Download
                    </button>
                </td>
            </tr>

            <tr class="align-middle">
                <td class="align-middle ">3</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">10-10-1010</td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                        <i class="fa fa-edit fa-fw pr-4"></i>View
                    </button>
                </td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                        <i class="fa fa-download fa-fw pr-2"></i>Download
                    </button>
                </td>
            </tr>

            <tr class="align-middle">
                <td class="align-middle ">4</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">10-10-1010</td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                        <i class="fa fa-edit fa-fw pr-4"></i>View
                    </button>
                </td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                        <i class="fa fa-download fa-fw pr-2"></i>Download
                    </button>
                </td>
            </tr>

            <tr class="align-middle">
                <td class="align-middle ">5</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">Suraj Soma</td>
                <td class="align-middle ">10-10-1010</td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                        <i class="fa fa-edit fa-fw pr-4"></i>View
                    </button>
                </td>
                <td class="px-2 align-middle">
                    <button type="button" class="btn btn-link btn-block mx-auto" ng-click="click()">
                        <i class="fa fa-download fa-fw pr-2"></i>Download
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="container d-block bg-light">
        <nav aria-label="...">
            <ul class="pagination pagination-sm justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">2
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<app-payfix></app-payfix>
