<!-- <div class="d-flex justify-content-start flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2 mr-2">
        <i class="fa fa-bar-chart fa-fw fa-2x mr-2"></i>Dashboard</h1>
</div> -->
<div class="container py-2 mb-5 border-bottom">
    <h1 class="h1 text-secondary">
        <i class="fa fa-bar-chart fa-fw fa-1x mr-2"></i>Dashboard</h1>
</div>
<div class="container justify-content-center">
    <button type="button" class="btn btn-outline-primary align-bottom float-left" data-toggle="modal" data-target="#modal">
        <i class="fa fa-plus-square-o fa-fw"></i>
        Create New
    </button>
    <h3 class="text-center text-muted">Transation Logs</h3>
</div>

<!-- Search Client Component -->
<app-search-client #searchFilter (filter)="searchFilter.value=$event"></app-search-client>

<!-- Client List Component -->
<app-client-list [searchFilter]="searchFilter.value" [page]="1" [size]="10"></app-client-list>

<app-payfix></app-payfix>