<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2"><i class="fa fa-file-o fa-fw fa-2x mr-2"></i>Pay Fixation</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
        </div>
    </div>
</div>

<div class="container py-3">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-5 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded-0 border">
                        <!-- <div class="card-header text-center">
                            <h3 class="mb-0">Change Password</h3>
                            <i class="fa fa-key fa-5x fa-fw mt-3" aria-hidden="true"></i>
                        </div> -->
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa fa-unlock-alt fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Old Password" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa fa-unlock-alt fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="New Password" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="fa fa-unlock-alt fa-fw"></i>
                                        </span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Confirm New Password" aria-describedby="basic-addon1">
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btnLogin">Change Password</button>

                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->