<td *ngFor="let content of item" class="align-middle">
    {{ content }}</td>
<!-- <td class="align-middle">{{ item.name }}</td>
<td class="align-middle">{{ item.date }}</td> -->
<!-- <td class="align-middle">
        <button type="button" class="btn btn-default" ng-click="click()">
                <i class="fa fa-edit fa-fw"></i> Edit
            </button>
    </td>
    <td class="align-middle">

        <button type="button" class="btn btn-default" ng-click="click()">
                    <i class="fa fa-download fa-fw"></i> Download
            </button>
    </td> -->